<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Shelter</title>
  </head>
  <body>
  <h1>Puppy Name: <%=params[:name]%></h1>
  <h1>Breed: <%=params[:breed]%></h1>
  <h1>Age: <%=params[:age]%></h1>
  <h1><a href="/new.erb">Click Here to List a Puppy</a>
  </body>
</html>
