<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Shelter</title>
  </head>
  <body>
  <h1>Welcome</h1>
  <a href="/new" title="Click Here to List a Puppy">"Click Here to List a Puppy"</a>
  </body>
</html>
